<!DOCTYPE html>
<html>
<head>
    <title>mod.js</title>
    
</head>
<body>
    <p> Hello, World. </p>
    <button id="btn">load async js</button>
<script type="text/javascript" src="/static/mod.js"></script>
<script type="text/javascript" src="/static/comp/cal/cal.js"></script>
<script type="text/javascript" src="/static/comp/keyboard/keyboard.js"></script>
<script type="text/javascript" src="/static/comp/webpage/index/index.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
<script type="text/javascript">
        require('comp/webpage/index/index');
    </script>
</body>
</html>
